#header{
    background-image: url(/header_image.jpg);
    background-size: cover;
    height: 13rem;
    position: fixed;
    top: 0;
    width:100vw;
}

.headerContents{
    margin: 0 auto;
    max-width: 60rem;
    width: 100%;
    z-index: 0;
}

.identity{
    align-items: center;
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: 1fr 7fr 1fr;
    margin-top: 1.25rem;
}

.headerLogo{
    width: 7.5vw;
}

.basicPage_title {
    color: #d1d1ab;
    font-size: 4vw;
    font-weight: 300;
}

#container{
    margin: 15rem auto 3rem;
    max-width: 60rem;
    width: 100%;
}

.text{
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 0 auto;
    text-align: center;
    width: 60vw;
}

.contact_form{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    margin: 2rem 0 1rem 0;
}

input{
    background-color: #d1d1ab;
    border: .125rem solid #3D441E;
    font-family: 'Quicksand';
    font-size: 1rem;
    padding: 1rem;

}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #d1d1ab inset !important;
}

::placeholder{
    color: #3D441E;
}

.left_column{
    display: flex;
    flex-direction: column;
}

#name{
    margin-bottom: .5rem;
}

#email{
    margin-bottom: .5rem;
}

.right_column{
    /*width: 80%;*/
}

textarea{
    background-color: #d1d1ab;
    border: .125rem solid #3D441E;
    font-family: 'QUICKSAND';
    font-size: 1rem;
    height: 100%;
    margin-bottom: .5rem;
    overflow: auto;
    padding: 1rem;
    resize: none;
    width: 100%;
}

.submit_button{
    background-color: #3D441E;
    width: 50%;
    margin: 0 auto;
}

#button{
    background-color: #3D441E;
    border: none;
    color: #d1d1ab;
    cursor: pointer;
    font-family: 'Quicksand';
    font-size: 1.25rem;
    padding: 1rem;
    width: 30rem;
}

#footer{
    background-image: url(/footer_image.jpg);
    background-size: cover;
    bottom: 0;
    height: 7rem;
    width:100vw;
}

.footer_Contents{
    margin: 0 auto;
    max-width: 60rem;
    width: 100%;
}

.hidden {
    display: none;
}


