.homePage{
    align-items: center;
    bottom: 3vh;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

.homePage_title{
    color: #fff;
    font-size: 4rem;
    font-weight: 300;
}

.skyPondLogo{
    width: 15%;
}
