.homePageTitle{
    color: #fff;
    font-size: 4rem;
    font-weight: 300;
    margin-top: 25rem;
}

.skyPondLogo{
    bottom: 1vh;
    position: fixed;
    right: 5vw;
    width: 15%;
    z-index: 0;
}
