@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    color: #322923;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
}

#bgImage{
    position: fixed;
    top: 0;
    z-index: -1;
    min-width: 100vw;
    min-height: 100vh;
    background-image: url(/images/skyPond_artwork.jpg);
    background-size: cover;
}

#container{
    margin: 15vh auto;
    max-width: 60rem;
    width: 90%;
    padding-top: 1rem;

}
