.bgImage {
    position: fixed;
    top: 0;
    z-index: -2;
    min-width: 100vw;
    min-height: 100vh;
    /*background-image: url(/images/skyPond_artwork.jpg);*/
    background-image: url("/images/skyPond_darker_background.jpg");
    background-size: cover;

}

body {
    background-color: #3D441E;
}



/*.tint {*/
/*    content: "";*/
/*    position: relative;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    background: #3D441E;*/
/*    opacity: 0.49;*/
/*    z-index: -1;*/
/*}*/




#homePage_container {

    max-width: 70rem;
    width: 100%;
    position: fixed;
    bottom: 3%;
    /*left: 10%;*/

}

.homePage {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    /* grid-template-columns: 1fr 4fr; */
    /* grid-column-gap: 1.5rem; */
    margin-top: 30rem;
}

.homePage_title {
    color: #d1d1ab;
    font-size: 6vw;
    font-weight: 300;
}

.skyPondLogo {
    width: 15vw;
}

#bird {
    position: absolute;
    width: 15vw;
    bottom: 13vh;
    left: 8vw;

}

.homePageMobileOnly {

    display: flex;
    flex-direction: column;
    align-items: center;
}

