@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    color: #322923;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    /*cursor: url(../images/morel.png), auto;*/
}

.hidden {
    display: none;
}


