<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/contactForm.css">

    <title>Contact Us</title>
</head>



<body>
<!--<div id="bgImage"></div>-->
<div class="tint" id="tint"></div>

<header id="header">
    <div class="headerContents">
        <div class="identity">
            <img class="headerLogo" src="/skyPond_logo.png" alt="">
            <h1 class="basicPage_title">farm and landscape</h1>
        </div>
        <!--    <nav class="headerNav">-->
        <!--        <ul class="headerNav_list">-->
        <!--            <li class="headerNav_listItem"><a href="#">farm</a></li>-->
        <!--            <li class="headerNav_listItem"><a href="#">landscape</a></li>-->
        <!--        </ul>-->
        <!--    </nav>-->
    </div>
</header>



<div id="container">

    <div class="text">We provide solutions for your small landscape and gardening needs.
        Including spring and fall cleanup, raised garden beds, planting and maintenance.
        <br>Let us know what you have in mind!</div>

</div>

<header id="footer">
    <div class="footer_Contents">

    </div>
</header>

</body>

</html>
