<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/contactForm.css">

    <title>Contact Us</title>
</head>



<body>
<!--<div id="bgImage"></div>-->
<div class="tint" id="tint"></div>

<header id="header">
    <div class="headerContents">
        <div class="identity">
            <img class="headerLogo" src="/skyPond_logo.png" alt="">
            <h1 class="basicPage_title">farm and landscape</h1>
        </div>
        <!--    <nav class="headerNav">-->
        <!--        <ul class="headerNav_list">-->
        <!--            <li class="headerNav_listItem"><a href="#">farm</a></li>-->
        <!--            <li class="headerNav_listItem"><a href="#">landscape</a></li>-->
        <!--        </ul>-->
        <!--    </nav>-->
    </div>
</header>



<div id="container">

    <div class="text">We provide solutions for your small landscape and gardening needs.
        Including spring and fall cleanup, raised garden beds, planting and maintenance.
        <br><br>Let us know what you have in mind!</div>

    <div class="contact_form">
        <div class="left_column">
        <input name="name" type="text" id="name" placeholder="Name">
        <input name="email" type="text" id="email" placeholder="Email Address">
        <input name="phone" type="text" id="phone" placeholder="Phone">
        </div>

        <div class="right_column">
              <textarea name="comments" id="comments" placeholder="Message"></textarea>
<!--            <textarea rows="4" cols="50" placeholder="Describe yourself here..."></textarea>-->
    </div>

    </div>

    <div class="submit_button">
        <button name="button" id="button">Send Message</button>
    </div>


</div>

<footer id="footer">
    <div class="footer_Contents">

    </div>
</footer>


</body>

</html>
