<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/home.css">

    <title>Sky Pond</title>
</head>

<div class="tint" id="tint">
<div class="bgImage" id="bgImage"></div>
    <div class="underImage" id="underImage"></div>
</div>

<body>

<div id="homePage_container">

    <div class="homePage" id="homePage">
        <img src="/skyPond_logo.png" alt="Sky Pond Logo" class="skyPondLogo" id="skyPondLogo">
        <h1 class="homePage_title" id="homePage_title">farm and landscape</h1>
    </div>

</div>


<script src="/homePageMobileView.js"></script>
<script src="/movingBackground.js"></script>
</body>
</html>
