<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/home.css">

    <title>Sky Pond</title>
</head>

<div id="bgImage"></div>

<body>

<div id="container">

    <div class="homePage">

        <img src="/images/skyPond_logo.png" alt="Sky Pond Logo" class="skyPondLogo">
        <img src="/images/bird1.png" alt="" id="bird">

    <h1 class="homePage_title">farm and landscape</h1>
    </div>

</div>

<script src="/js/flyingBird.js"></script>
</body>
</html>
