<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--    <meta content="width=device-width, initial-scale=1" name="viewport"/>-->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/contactForm.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="/js/homePageMediaQueries.js" defer></script>
    <script src="/js/thankyou.js" defer></script>
    <script src="js/contactForm.js" defer></script>
    <script src="/js/flying2.js" defer></script>
    <script src="/js/movingBackground.js" defer></script>

    <title>Sky Pond</title>
</head>

<div class="tint" id="tint">
    <div class="bgImage" id="bgImage"></div>

</div>

<body>

<header id="header" class="hidden">
    <div class="headerContents">
        <div class="identity">
            <img class="headerLogo" src="/images/skyPond_logo.png" alt="">
            <h1 class="basicPage_title">farm and landscape</h1>
        </div>
        <!--    <nav class="headerNav">-->
        <!--        <ul class="headerNav_list">-->
        <!--            <li class="headerNav_listItem"><a href="#">farm</a></li>-->
        <!--            <li class="headerNav_listItem"><a href="#">landscape</a></li>-->
        <!--        </ul>-->
        <!--    </nav>-->
    </div>
</header>


<div id="homePage_container">

    <div class="homePage" id="homePage">
        <img src="/images/skyPondSansBird4-01.png" alt="Sky Pond Logo" class="skyPondLogo" id="skyPondLogo">
        <img src="/images/flyingBird/heron_inFlight-0.png" id="bird" alt="">
        <h1 class="homePage_title" id="homePage_title">farm and landscape</h1>
    </div>

</div>

<div id="contactFormContainer">


    <div id="container">

        <div id="sideBar"></div>


        <div class="text">We provide solutions for your small landscape and gardening needs.
            Including spring and fall cleanup, raised garden beds, planting and maintenance.
            <br><br>Let us know what you have in mind!
        </div>

        <div class="contact_form">
            <div class="left_column">
                <input name="name" type="text" id="name" placeholder="Name">
                <input name="email" type="text" id="email" placeholder="Email Address">
                <input name="phone" type="text" id="phone" placeholder="Phone">
            </div>

            <div class="right_column">
                <textarea name="comments" id="comments" placeholder="Message"></textarea>
            </div>

        </div>

        <div class="submit_button">
            <span id="modal-trigger" class="live"><button name="button" id="button"> Send Message</button></span>
        </div>


    </div>



    <div id="backdrop">
        <div id="modal">
            <button class="text-button">X</button>

            <div id="modal-content">
                <p class="thank_you">Thanks for your message.</p>
                <p> We will get back to you within one business day!</p>
            </div>
        </div>
    </div>
</div>




</body>
</html>
